# OS X Finder
.DS_Store

# Xcode User Configuration
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build Products
build/
*.o
*.LinkFileList
*.hmap

# Automatic Backups
*~.nib/
*.swp
*~
*.dat
*.dep

# Generated Documentation
SinglySDK/Documentation

# Generated Resource Bundle via Cocoapods
SinglySDK/SinglySDK/Resources/SinglySDK.bundle
