.DS_Store
xcuserdata
project.xcworkspace
SinglySDK/Build

# Generated Documentation
SinglySDK/Documentation/docset-installed.txt
SinglySDK/Documentation/docset
SinglySDK/Documentation/publish

# Local Client Keys
SinglySDK Example/SinglySDK Example/ClientKeys.h

